<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531437963172-b9uqfldd5u44fiaqv8shs2aj0t6un8k5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531437963172-b9uqfldd5u44fiaqv8shs2aj0t6un8k5</string>
	<key>API_KEY</key>
	<string>AIzaSyBGpwAnjC6lyuYM6-JBFMYZjSlXqWzcyHM</string>
	<key>GCM_SENDER_ID</key>
	<string>531437963172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>work-match-b820c</string>
	<key>STORAGE_BUCKET</key>
	<string>work-match-b820c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531437963172:ios:53aa4a4757498fa56d6331</string>
</dict>
</plist>